@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "first_font";
  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button,
input[type="reset"] {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* #nprogress .bar {
  background-color: #FFBB00 !important;
  height: 5px;
} */

/* #nprogress .peg {
  box-shadow: 0 0 10px #0F172A, 0 0 5px #0F172A;
} */

#nprogress .spinner-icon {
  position: fixed;
  display: flex;
  z-index: 1031;
  top: 50%;
  left: 50%;
  width: 40px !important;
  height: 40px !important;
  border-top: 4px solid #0F172A !important;
  border-bottom: 4px solid #0F172A !important;
  border-left: 4px solid #F6C90E !important;
  border-right: 4px solid #F6C90E !important;
}