@media only screen and (max-width: 1000px) {
    .scrollbar::-webkit-scrollbar {
        height: 5px;
    }

    /* Track */
    .scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    .scrollbar::-webkit-scrollbar-thumb {
        background: #888;
    }

    .scrollbar {
        overflow-x: auto;
    }
}